
* {
    margin-top: 4px;
    padding: 300;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 2px auto;
    padding: 60px;
    max-width: 400px;
    width: 100%;
    border: outset #0000000e;
    border-radius: 10px;
    background-color: #ececec1c;
    box-shadow: 0 0 10px #36363698;
}

